nav {
    background-color: #ed9600;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

nav a {
    color: rgb(0, 0, 0);
    flex: 1;
    text-align: center;
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    font-size: 14px;
}

.form-container {
    background-color: #e1d8c9;
    border-top: #e1d8c9 solid 1px;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

